<h1>Weather App</h1>

<div class="container">
  <div class="search-container">
    <label for="search">Type City</label>
    <input id="search" name="search" type="text"></input>
  </div>
  <div class="city-container">
    <ol id='citylist'></ol>
  </div>
  <div class="weather-container">
    
  </div>
</div>